{% extends 'drive/base.html' %}

{% block title %}Password Change{% endblock title %}

{% block main_panel %}

<div class="m-3 col-12 col-md-6">
    <form action="" method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{form | crispy}}
        
        <a href="{%url "user:details"%}" style="text-decoration: none;">
            <button class="btn btn-secondary my-3" type="button">
                Back
            </button>
        </a>

        <button class="btn btn-primary m-3">
            Change Password
        </button>
    </form>
</div>

{% endblock main_panel %}