{% extends 'drive/base.html' %}

{% block title %}
Home
{% endblock title %}

{% block custom_header %}
<style>
    #file_upload_label{
        border: 1px solid gray;
        width: 100%;
        text-align: center;        
        padding: 25px;
        border-radius: 15px;
    }
</style>

{% endblock custom_header %}

{% block header %}
{% endblock header %}

{% block side_panel %}
{% load crispy_forms_tags %}

<form action="" method="post">
    {% csrf_token %}
    <span style="color: #333; font-size: 0.8em;">
        Create New Folder
    </span>
    {{folder_form | crispy }}
    <button class="btn btn-outline-secondary d-block mx-auto my-2" style="width: 100%;" >Create</button>
</form>

<form action="" method="post" class="my-5 d-block">
    {% csrf_token %}
    
    <label for="file_upload" id="file_upload_label" style="input: cursor;">
        <span style="color: #333; font-size: 0.8em;">Select File</span> <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
         fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
        <input type="file" name="file_upload" style="display: none;" id="file_upload">
    </label>

    <button class="btn btn-primary d-block mx-auto my-2" style="width: 100%;" >
        Upload
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
         fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg>
    </button>
</form>


{% endblock side_panel %}

{% block main_panel %}
<h2>
    Main Panel
</h2>
{% endblock main_panel %}